.country-detail-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35vh;
}

.image {
    margin: 0 100px;
    border: 2px solid red;

}

.rest-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid red;

}