body{
    background-color: rgb(182, 223, 240);
}
.country-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    margin: 10px 10px;
    padding: 10px 10px;
    
}
.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}